<a href="https://colab.research.google.com/github/mengphilshen/final-project-GoHawaii/blob/main/OpenFlights.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction

# Data Import

In [ ]:
# import modules
import pandas as pd

In [ ]:
# mount Google drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Airports Dataset

In [ ]:
# load airports dataset
airports0 = pd.read_csv("/content/drive/My Drive/CIS550_Project/Data/Flights/airports.txt", na_values = "\\N", header = None)

In [ ]:
airports0.rename(columns={0:'AirportID', 1:'Name', 2:'City', 3:'Country', 4:'IATA', 5:'ICAO', 
                          6:'Latitude', 7:'Longitude', 8:'Altitude', 9:'HoursFromUTC', 10:'DST',
                         11:'Timezone', 12:'Type', 13:'Source'}, inplace=True)

In [ ]:
airports0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7698 entries, 0 to 7697
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   AirportID     7698 non-null   int64
 1   Name          7698 non-null   object
 2   City          7649 non-null   object
 3   Country       7698 non-null   object
 4   IATA          6072 non-null   object
 5   ICAO          7697 non-null   object
 6   Latitude      7698 non-null   float64
 7   Longitude     7698 non-null   float64
 8   Altitude      7698 non-null   int64
 9   HoursFromUTC  7345 non-null   float64
 10  DST           7345 non-null   object
 11  Timezone      6677 non-null   object
 12  Type          7698 non-null   object
 13  Source        7698 non-null   object
dtypes: float64(3), int64(2), object(9)
memory usage: 842.1+ KB

In [ ]:
airports0.head()

   AirportID                                         Name  ...     Type       Source
0          1                               Goroka Airport  ...  airport  OurAirports
1          2                               Madang Airport  ...  airport  OurAirports
2          3                 Mount Hagen Kagamuga Airport  ...  airport  OurAirports
3          4                               Nadzab Airport  ...  airport  OurAirports
4          5  Port Moresby Jacksons International Airport  ...  airport  OurAirports

[5 rows x 14 columns]

In [ ]:
# check distict values
airports0['AirportID'].nunique()

7698

In [ ]:
# check missing values
missing_airports = airports0.isnull().sum(axis = 0).reset_index()
missing_airports.columns = ['variable', 'missing values']
missing_airports['missing%'] = missing_airports['missing values'] / airports0.shape[0] * 100
missing_airports_srt = missing_airports.sort_values('missing%', ascending = False).reset_index(drop = True)
missing_airports_srt[missing_airports_srt['missing%'] > 0]

       variable  missing values   missing%
0          IATA            1626  21.122369
1      Timezone            1021  13.263185
2  HoursFromUTC             353   4.585607
3           DST             353   4.585607
4          City              49   0.636529
5          ICAO               1   0.012990

In [ ]:
# check Type
airports0['Type'].value_counts()

airport    7698
Name: Type, dtype: int64

In [ ]:
# check Source
airports0['Source'].value_counts()

OurAirports    7698
Name: Source, dtype: int64

In [ ]:
# drop variables
var_to_drop = ['Type', 'Source']
airports1 = airports0.drop(var_to_drop, axis = 1)
airports1.head()

   AirportID  ...              Timezone
0          1  ...  Pacific/Port_Moresby
1          2  ...  Pacific/Port_Moresby
2          3  ...  Pacific/Port_Moresby
3          4  ...  Pacific/Port_Moresby
4          5  ...  Pacific/Port_Moresby

[5 rows x 12 columns]

In [ ]:
# export airports dataset
airports1.to_csv('/content/drive/My Drive/CIS550_Project/Data/airports1.csv', index=False)

## Airlines Dataset

In [ ]:
# load airlines dataset
airlines0 = pd.read_csv("/content/drive/My Drive/CIS550_Project/Data/Flights/airlines.txt", na_values = "\\N", header = None)

In [ ]:
airlines0.rename(columns={0:'AirlineID', 1:'Name', 2:'Alias', 3:'IATA', 4:'ICAO', 
                          5:'Callsign', 6:'Country', 7:'Active'}, inplace=True)

In [ ]:
airlines0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6162 entries, 0 to 6161
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   AirlineID  6162 non-null   int64
 1   Name       6162 non-null   object
 2   Alias      178 non-null    object
 3   IATA       1534 non-null   object
 4   ICAO       5887 non-null   object
 5   Callsign   5351 non-null   object
 6   Country    6144 non-null   object
 7   Active     6162 non-null   object
dtypes: int64(1), object(7)
memory usage: 385.2+ KB

In [ ]:
airlines0.head()

   AirlineID  ... Active
0         -1  ...      Y
1          1  ...      Y
2          2  ...      N
3          3  ...      Y
4          4  ...      N

[5 rows x 8 columns]

In [ ]:
# check distict values
airlines0['AirlineID'].nunique()

6162

In [ ]:
# check missing values
missing_airlines = airlines0.isnull().sum(axis = 0).reset_index()
missing_airlines.columns = ['variable', 'missing values']
missing_airlines['missing%'] = missing_airlines['missing values'] / airlines0.shape[0] * 100
missing_airlines_srt = missing_airlines.sort_values('missing%', ascending = False).reset_index(drop = True)
missing_airlines_srt[missing_airlines_srt['missing%'] > 0]

   variable  missing values   missing%
0     Alias            5984  97.111327
1      IATA            4628  75.105485
2  Callsign             811  13.161311
3      ICAO             275   4.462837
4   Country              18   0.292113

In [ ]:
# export airlines dataset
airlines0.to_csv('/content/drive/My Drive/CIS550_Project/Data/airlines0.csv', index=False)

## Routes Dataset

In [ ]:
# load routes dataset
routes0 = pd.read_csv("/content/drive/My Drive/CIS550_Project/Data/Flights/routes.txt", na_values = "\\N", header = None)

In [ ]:
routes0.rename(columns={0:'Airline', 1:'AirlineID', 2:'SourceAirport', 3:'SourceAirportID', 4:'DestinationAirport', 5:'DestinationAirportID', 
                        6:'Codeshare', 7:'Stops', 8:'Equipment'}, inplace=True)

In [ ]:
routes0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67663 entries, 0 to 67662
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Airline               67663 non-null  object
 1   AirlineID             67184 non-null  float64
 2   SourceAirport         67663 non-null  object
 3   SourceAirportID       67443 non-null  float64
 4   DestinationAirport    67663 non-null  object
 5   DestinationAirportID  67442 non-null  float64
 6   Codeshare             14597 non-null  object
 7   Stops                 67663 non-null  int64
 8   Equipment             67645 non-null  object
dtypes: float64(3), int64(1), object(5)
memory usage: 4.6+ MB

In [ ]:
routes0.head()

  Airline  AirlineID SourceAirport  ...  Codeshare Stops  Equipment
0      2B      410.0           AER  ...        NaN     0        CR2
1      2B      410.0           ASF  ...        NaN     0        CR2
2      2B      410.0           ASF  ...        NaN     0        CR2
3      2B      410.0           CEK  ...        NaN     0        CR2
4      2B      410.0           CEK  ...        NaN     0        CR2

[5 rows x 9 columns]

In [ ]:
# check distict values
routes0.groupby(['AirlineID', 'SourceAirportID', 'DestinationAirportID']).ngroups

66765

In [ ]:
# check missing values
missing_routes = routes0.isnull().sum(axis = 0).reset_index()
missing_routes.columns = ['variable', 'missing values']
missing_routes['missing%'] = missing_routes['missing values'] / routes0.shape[0] * 100
missing_routes_srt = missing_routes.sort_values('missing%', ascending = False).reset_index(drop = True)
missing_routes_srt[missing_routes_srt['missing%'] > 0]

               variable  missing values   missing%
0             Codeshare           53066  78.426910
1             AirlineID             479   0.707920
2  DestinationAirportID             221   0.326619
3       SourceAirportID             220   0.325141
4             Equipment              18   0.026602

In [ ]:
# remove duplicate values
routes1 = routes0.drop_duplicates(['AirlineID', 'SourceAirportID', 'DestinationAirportID'])
routes1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 67579 entries, 0 to 67662
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Airline               67579 non-null  object
 1   AirlineID             67110 non-null  float64
 2   SourceAirport         67579 non-null  object
 3   SourceAirportID       67403 non-null  float64
 4   DestinationAirport    67579 non-null  object
 5   DestinationAirportID  67402 non-null  float64
 6   Codeshare             14597 non-null  object
 7   Stops                 67579 non-null  int64
 8   Equipment             67561 non-null  object
dtypes: float64(3), int64(1), object(5)
memory usage: 5.2+ MB

In [ ]:
# export routes dataset
routes1.to_csv('/content/drive/My Drive/CIS550_Project/Data/routes1.csv', index=False)

# Data Wrangling

# Data Description

# Airports in Hawaii

In [ ]:
# select airports in Hawaii
IATA_list = ['ITO', 'HNL', 'OGG', 'KOA', 'MKK', 'LNY', 'LIH', 'HNM', 'LUP', 'MUE', 'JHM', 'JRF', 'PAK', 'UPP', 'HDH']

Soure: [List of airports in Hawaii](https://en.wikipedia.org/wiki/List_of_airports_in_Hawaii)

In [ ]:
airports0[airports0['IATA'].isin(IATA_list)]

      Airport ID  ...       Source
3216        3415  ...  OurAirports
3246        3445  ...  OurAirports
3257        3456  ...  OurAirports
3315        3514  ...  OurAirports
3332        3532  ...  OurAirports
3345        3545  ...  OurAirports
3383        3583  ...  OurAirports
3402        3602  ...  OurAirports
3505        3705  ...  OurAirports
3528        3728  ...  OurAirports
3596        3796  ...  OurAirports
3651        3851  ...  OurAirports
4634        5989  ...  OurAirports
6347        8824  ...  OurAirports

[14 rows x 14 columns]